.box_post_single {
  background-color: #fff;
  padding: 20px;
}

.col_posts {
  min-height: 361px;
  margin: 30px 20px;
}

.mensagem {
  font-size: 20px;
  text-align: center;
  margin: 20px auto;
}

.carregar_img {
  margin: auto;
  width: 50px;
}
