.box_post_single{
    background-color: #fff;
    padding: 20px;
}

.col_posts{
    min-height:361px;
    margin: 30px auto;
}

.carregar_spinner{
    margin: 40px auto;
    font-size: 20px;
    text-align: center;
}