.box_post_single {
  position: relative;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  clear: both;
}

.box_post_single h3 {
  font-size: 22px;
}

.post_conteudo {
  padding: 20px;
  min-height: 361px;
}

.post_conteudo a {
  text-decoration: none;
}

.post_titulo {
  font-weight: bold;
  color: #000;
  margin-top:15px;
}
.post_descricao {
  margin: 20px auto;
}
.clb_read_more {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.2s linear;
  margin-top: 10px;
  display: inline-block;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.categoria {
  background-color: #f1f1f1;
  color: #9a9a9a;
  padding: 5px;
  font-size: 12px;
  margin: 0 5px 5px 0;
}
.clb_post_thumbnail {
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #c3c3c3;
  position: relative;
  overflow: hidden;
}

.clb_hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.30s ease;
}

 .clb_hover ul {
  list-style: none;
 }

 .clb_hover ul i{
  color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #fff;
 }

.box_post_single:hover .clb_hover{
  opacity: 1;
}

.clb_post_link {
  margin: 0;
  padding: 0;
  position: relative;
  top: 45%;
  text-align: center;
}

.clb_post_link li a {
  color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #fff;
}

.clb_post_link li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #16a965;
  border-color: #16a965;
}

.clb_post_date {
  position: absolute;
  top: 10%;
  left: 4%;
}

.clb_date {
  display: block;
  padding: 5px 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #0f7948;
  width: 100%;
  padding-top: 7px;
  line-height: 1.4;
}

.clb_month {
  display: block;
  padding: 5px 13px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: #16a965;
  height: 35px;
  line-height: 1.3;
  text-transform: capitalize;
}